.tooltipable {
  /* pointer-events: none; */
}

.tooltipable:is(:hover, :focus-visible, :active) > .native-tooltip {
  /* ============================== */
  visibility: visible;
  /* ============================== */
}

.native-tooltip {
  all: unset;
  display: block;
  position: absolute;

  /* ============================== */
  visibility: hidden;
  /* ============================== */

  outline: inherit;
  cursor: auto;

  transition: 0.1s;
  /* pointer-events: none; */
}

.native-tooltip::before {
  content: '; Has tooltip: ';
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* ================================================================================== */
.tooltipable_top-center {
  anchor-name: --top-center-anchor;
}

.native-tooltip_top-center {
  bottom: anchor(--top-center-anchor top);
  left: anchor(--top-center-anchor center);
  translate: -50%;
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_top-left-corner {
  anchor-name: --top-left-corner-anchor;
}

.native-tooltip_top-left-corner {
  bottom: anchor(--top-left-corner-anchor top);
  right: anchor(--top-left-corner-anchor left);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_top-left {
  anchor-name: --top-left-anchor;
}

.native-tooltip_top-left {
  bottom: anchor(--top-left-anchor top);
  left: anchor(--top-left-anchor left);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_top-right {
  anchor-name: --top-right-anchor;
}

.native-tooltip_top-right {
  bottom: anchor(--top-right-anchor top);
  right: anchor(--top-right-anchor right);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_top-right-corner {
  anchor-name: --top-right-corner-anchor;
}

.native-tooltip_top-right-corner {
  bottom: anchor(--top-right-corner-anchor top);
  left: anchor(--top-right-corner-anchor right);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_right-top {
  anchor-name: --right-top-anchor;
}

.native-tooltip_right-top {
  top: anchor(--right-top-anchor top);
  left: anchor(--right-top-anchor right);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_right-center {
  anchor-name: --right-center-anchor;
}

.native-tooltip_right-center {
  top: anchor(--right-center-anchor center);
  left: anchor(--right-center-anchor right);
  translate: 0 -50%;
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_right-bottom {
  anchor-name: --right-bottom-anchor;
}

.native-tooltip_right-bottom {
  bottom: anchor(--right-bottom-anchor bottom);
  left: anchor(--right-bottom-anchor right);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_bottom-right {
  anchor-name: --bottom-right-anchor;
}

.native-tooltip_bottom-right {
  top: anchor(--bottom-right-anchor bottom);
  right: anchor(--bottom-right-anchor right);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_bottom-right-corner {
  anchor-name: --bottom-right-corner-anchor;
}

.native-tooltip_bottom-right-corner {
  top: anchor(--bottom-right-corner-anchor bottom);
  left: anchor(--bottom-right-corner-anchor right);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_bottom-center {
  anchor-name: --bottom-center-anchor;
}

.native-tooltip_bottom-center {
  top: anchor(--bottom-center-anchor bottom);
  left: anchor(--bottom-center-anchor center);
  translate: -50%;
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_bottom-left {
  anchor-name: --bottom-left-anchor;
}

.native-tooltip_bottom-left {
  top: anchor(--bottom-left-anchor bottom);
  left: anchor(--bottom-left-anchor left);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_bottom-left-corner {
  anchor-name: --bottom-left-corner-anchor;
}

.native-tooltip_bottom-left-corner {
  top: anchor(--bottom-left-corner-anchor bottom);
  right: anchor(--bottom-left-corner-anchor left);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_left-bottom {
  anchor-name: --left-bottom-anchor;
}

.native-tooltip_left-bottom {
  bottom: anchor(--left-bottom-anchor bottom);
  right: anchor(--left-bottom-anchor left);
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_left-center {
  anchor-name: --left-center-anchor;
}

.native-tooltip_left-center {
  top: anchor(--left-center-anchor center);
  right: anchor(--left-center-anchor left);
  translate: 0 -50%;
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_left-top {
  anchor-name: --left-top-anchor;
}

.native-tooltip_left-top {
  top: anchor(--left-top-anchor top);
  right: anchor(--left-top-anchor left);
}
/* ================================================================================== */
