.tooltipable {
  /* pointer-events: none; */
}

.tooltipable:is(:hover, :focus-visible, :active) > .native-tooltip {
  /* ============================== */
  visibility: visible;
  /* ============================== */
}

.native-tooltip {
  all: unset;
  display: block;
  position: absolute;

  /* ============================== */
  visibility: hidden;
  /* ============================== */

  outline: inherit;
  cursor: auto;

  transition: 0.1s;
  /* pointer-events: none; */
}

.native-tooltip::before {
  content: '; Has tooltip: ';
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* .native-tooltip:is(:active) {
  pointer-events: none;
} */

/* ================================================================================== */
.tooltipable_top-center {
  anchor-name: --top-center-anchor;
}

.native-tooltip_top-center {
  bottom: anchor(--top-center-anchor top);
  left: anchor(--top-center-anchor center);
  translate: -50%;
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_right-center {
  anchor-name: --right-center-anchor;
}

.native-tooltip_right-center {
  top: anchor(--right-center-anchor center);
  left: anchor(--right-center-anchor right);
  translate: 0 -50%;
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_bottom-center {
  anchor-name: --bottom-center-anchor;
}

.native-tooltip_bottom-center {
  top: anchor(--bottom-center-anchor bottom);
  left: anchor(--bottom-center-anchor center);
  translate: -50%;
}
/* ================================================================================== */

/* ================================================================================== */
.tooltipable_left-center {
  anchor-name: --left-center-anchor;
}

.native-tooltip_left-center {
  top: anchor(--left-center-anchor center);
  right: anchor(--left-center-anchor left);
  translate: 0 -50%;
}
/* ================================================================================== */
